@model CliniKa.Models.DatabaseObject.Medicine

@{
    ViewBag.Title = "Medicine Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <hr />
    || @Html.ActionLink("View Medicine", "Index", "Medicine") ||
    @Html.ActionLink("Medicine Setup", "Create", "Medicine", new { @class = "btn btn-primary", @style = "color:white" }) ||
    @Html.ActionLink("Disease", "Index", "Disease") ||
    @Html.ActionLink("Center", "Index", "ServinceCenter") ||
    @Html.ActionLink("Send Medicine", "Index", "AllocateMedicine") ||
    @Html.ActionLink("Disease Report", "DiseaseWiseReport", "DiseaseWiseReportGenarate") ||
    <hr />
</p>
<h2>Medicine Setup</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.Name,"Generic Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Power, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Power)
                @Html.ValidationMessageFor(model => model.Power)
                <select id="powerUnit">
                    <option>Mg/Ml</option>
                    <option>Mg</option>
                    <option>Ml</option>
                </select>
            </div>
        </div>

       <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="alert alert-warning alert-dismissible" role="alert" id="warning">
                    <strong>Warning!</strong>Fill all information.
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Create" id="Create" class="btn btn-default" style="background-color: darkgreen; color: azure" />
                <div class="alert alert-warning alert-dismissible" role="alert" id="Message">
                    <strong>Warning!</strong>Already Exist.
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {

            $("#Message").hide();
            $("#warning").hide();

            $("#Create").click(function () {
                var name = $("#Name").val();
                var power = $("#Power").val();
                var powerUnit = $("#powerUnit").find("option:selected").text();
                var medicine = { Name: name, Power: power, PowerUnit: powerUnit };
                if (medicine.Name == "" || medicine.Power == "" || medicine.PowerUnit == "Select Unit") {
                    $("#warning").show();
                }
                else {
                    $("#warning").hide();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Chk", "Medicine")',
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify(medicine),
                        dataType: "json",
                        success: function (data) {
                            if (data == "") {
                                $("#Message").hide();
                                window.location.reload();
                            } else {

                                $("#Message").show();
                            }


                        }
                    });

                }
            });
        });

    </script>
}
