@model CliniKa.Models.DatabaseObject.ServiceCenter

@{
    ViewBag.Title = "Create Center";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <hr />
    || @Html.ActionLink("Medicine", "Index", "Medicine") ||
    @Html.ActionLink("Disease", "Index", "Disease") ||
    @Html.ActionLink("View Center", "Index", "ServinceCenter") ||
    @Html.ActionLink("Create Center", "Create", "ServinceCenter", new { @class = "btn btn-primary", @style = "color:white" }) ||
    @Html.ActionLink("Send Medicine", "Index", "AllocateMedicine") ||
    @Html.ActionLink("Disease Report", "DiseaseWiseReport", "DiseaseWiseReportGenarate") ||
    <hr />
</p>
<h2>Create Center</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name,"Center Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistrictId, "District", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DistrictId", "Select District")
                @Html.ValidationMessageFor(model => model.DistrictId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpazilaId, "Upazila", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UpazilaId", "Select Upazila")
                @Html.ValidationMessageFor(model => model.UpazilaId)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="alert alert-warning alert-dismissible" role="alert" id="warning">
                    <strong>Warning!</strong>Fill all information.
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="alert alert-warning alert-dismissible" role="alert" id="Message">
                    <strong>Warning!</strong>This name is not available.Try for another one.
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Create" id="Create" class="btn btn-default" style="background-color: darkgreen; color: azure" />
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {

            $("#UpazilaId").prop("disabled", true);
            $("#warning").hide();
            $("#Message").hide();
            $("#DistrictId").change(function () {
                $("#UpazilaId").prop("disabled", false);
                var optionSelected = $(this).find("option:selected");
                var mydata = { DistrictId: optionSelected.val() };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("FindThisDistrict", "ServinceCenter")',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(mydata),
                    dataType: "json",
                    success: function (data) {
                        $('#UpazilaId').empty();
                        $.each(data, function (index, value) {
                            $('#UpazilaId').append($('<option/>', {
                                value: value.Id,
                                text: value.Name
                            }));
                        });
                    },

                });

            });

            $("#Create").click(function () {
                $("#warning").hide();
                $("#Message").hide();
                var districtId = $("#DistrictId").val();
                var upazilaId = $("#UpazilaId").val();
                var serviceCenterName = $("#Name").val();
                if (districtId == "" || upazilaId == "" || serviceCenterName == "") {
                    $("#warning").show();
                }

                else {

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("InsertServiceCenter", "ServinceCenter")',
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify({ districtId: districtId, upazilaId: upazilaId, serviceCenterName: serviceCenterName }),
                        dataType: "json",
                        success: function (data) {
                            if (data == true) {
                                $("#Message").show();
                            } else {
                                window.location.reload();
                            }
                        },
                    });
                }

            });
        });
    </script>
}

