@model CliniKa.Models.DatabaseObject.ServiceCenter
@{
    ViewBag.Title = "Show";

}

<h2>Initial created service center</h2>

<div>
    <h4>ServiceCenter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ADistrict.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADistrict.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUpazila.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUpazila.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>