@model Clinika.Models.DatabaseObject.AllocateMedicine

@{
    ViewBag.Title = "Edit Send Medicine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <hr />
    || @Html.ActionLink("Medicine", "Index", "Medicine") ||
    @Html.ActionLink("Disease", "Index", "Disease") ||
    @Html.ActionLink("Center", "Create", "ServinceCenter") ||
    @Html.ActionLink("Medicine Send Info", "Index", "AllocateMedicine") ||
    @Html.ActionLink("Send Medicine", "Create", "AllocateMedicine") ||
    @Html.ActionLink("Disease Report", "DiseaseWiseReport", "DiseaseWiseReportGenarate") ||
    <hr />
</p>
<h2>Edit Send Medicine</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceCenterId, "ServiceCenterId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ServiceCenterId", String.Empty)
                @Html.ValidationMessageFor(model => model.ServiceCenterId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity)
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MedicineId, "MedicineId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MedicineId", String.Empty)
                @Html.ValidationMessageFor(model => model.MedicineId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistrictUpazilaId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DistrictUpazilaId)
                @Html.ValidationMessageFor(model => model.DistrictUpazilaId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" style="background-color: darkgreen; color: azure" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
