@model IEnumerable<Clinika.Models.DatabaseObject.AllocateMedicine>

@{
    ViewBag.Title = "Medicine Send Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script src="~/Scripts/base64.js"></script>
    <script src="~/Scripts/jquery.base64.js"></script>

    <script src="~/Scripts/downloadify.min.js"></script>
    <script src="~/Scripts/jspdf.js"></script>
    <script src="~/Scripts/sprintf.js"></script>
    <script src="~/Scripts/tableExport.js"></script>
    <script type="text/javascript">

       
        $(document).ready(function () {

            $("#myBsdfsdfdfsutton").click(function () {

                $('#pdftable').tableExport({ type: 'pdf', escape: 'false', pdfFontSize: 10, border: 1 });
            });


        });
    </script>
}

<p>
    <hr />
    || @Html.ActionLink("Medicine", "Index", "Medicine") ||
    @Html.ActionLink("Disease", "Index", "Disease") ||
    @Html.ActionLink("Center", "Create", "ServinceCenter") ||
    @Html.ActionLink("Medicine Send Info", "Index", "AllocateMedicine", new { @class = "btn btn-primary", @style = "color:white" }) ||
    @Html.ActionLink("Send Medicine", "Create", "AllocateMedicine") ||
    @Html.ActionLink("Disease Report", "DiseaseWiseReport", "DiseaseWiseReportGenarate") ||
    <hr />
</p>
<h2>Medicine Send Info</h2>
<button id="myBsdfsdfdfsutton" type="button" class="btn btn-success">PDF Generate</button>
<table id="pdftable" class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AMedicine.Name)
            </th>
            <th>
                Service Center Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictUpazilaId)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AMedicine.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AServiceCenter.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictUpazilaId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
